.itemDetail{
    width:300px;
    padding:20px;
    margin: auto;
    background-color: white;
    &-detalles{
        width:80%;
        margin:auto;
        
    }
    &__price{
        font-size:28px;
        margin:10px 0px;
    }
    &__img{
        display:block;
        width: 100%;
        border-bottom: 1px solid black;
    }
    &__title{
       margin-bottom: 10px;
    }

}