.carrito{
    width:90%;
    margin: auto;
    display:flex;
    flex-direction:column;
    .item-content{
        margin:auto;
        display: block;
        width:200px;
        .item{
            width:200px;
           
        }
        .info{
            margin-top:20px;
        }
    }
    p{
        text-align: center;
    }

    .precioTotal{
        margin-top:100px;
    }
    
    .btn{
        width: 200px;
        margin: auto;
    }
}